@import "../../assets/style/global.scss";

.movie-list__title {
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 20px;
    font-size: 20px;

    @media (min-width: $sm) {
        font-size: 40px;
    }
}